:root {
  // Backgrounds colors
  --body-bg: unset;
  --toggle-bg: unset;
  --keypad-bg: unset;
  --display-bg: unset;

  --key-bg: unset;
  --key-light-bg: unset;
  --key-dark-bg: unset;

  // Shadows colors
  --key-shadow: unset;
  --key-light-shadow: unset;
  --key-dark-shadow: unset;

  // Texts colors
  --color: unset;
  --key-color: unset;
  --key-light-color: unset;
  --key-dark-color: unset;
  --toggle-color: unset;

  // Light theme
  --body-bg-light: hsl(0, 0%, 90%);
  --toggle-bg-light: hsl(0, 5%, 81%);
  --keypad-bg-light: hsl(0, 5%, 81%);
  --display-bg-light: hsl(0, 0%, 93%);

  --key-bg-light: hsl(45, 7%, 89%);
  --key-light-bg-light: hsl(185, 42%, 37%);
  --key-dark-bg-light: hsl(25, 98%, 40%);

  --key-shadow-light: hsl(35, 11%, 61%);
  --key-light-shadow-light: hsl(185, 58%, 25%);
  --key-dark-shadow-light: hsl(25, 99%, 27%);

  --color-light: hsl(60, 10%, 19%);
  --key-color-light: hsl(60, 10%, 19%);
  --key-light-color-light: hsl(0, 0%, 100%);
  --key-dark-color-light: hsl(0, 0%, 100%);
  --toggle-color-light: hsl(25, 98%, 40%);

  // Dark theme
  --body-bg-dark: hsl(222, 26%, 31%);
  --toggle-bg-dark: hsl(223, 31%, 20%);
  --keypad-bg-dark: hsl(223, 31%, 20%);
  --display-bg-dark: hsl(224, 36%, 15%);

  --key-bg-dark: hsl(30, 25%, 89%);
  --key-light-bg-dark: hsl(225, 21%, 49%);
  --key-dark-bg-dark: hsl(6, 63%, 50%);

  --key-shadow-dark: hsl(28, 16%, 65%);
  --key-light-shadow-dark: hsl(224, 28%, 35%);
  --key-dark-shadow-dark: hsl(6, 70%, 34%);

  --color-dark: hsl(0, 0%, 100%);
  --key-color-dark: hsl(221, 14%, 31%);
  --key-light-color-dark: hsl(0, 0%, 100%);
  --key-dark-color-dark: hsl(0, 0%, 100%);
  --toggle-color-dark: hsl(6, 63%, 50%);

  // Custom theme
  --body-bg-custom: hsl(268, 75%, 9%);
  --toggle-bg-custom: hsl(268, 71%, 12%);
  --keypad-bg-custom: hsl(268, 71%, 12%);
  --display-bg-custom: hsl(268, 71%, 12%);

  --key-bg-custom: hsl(268, 47%, 21%);
  --key-light-bg-custom: hsl(281, 89%, 26%);
  --key-dark-bg-custom: hsl(176, 100%, 44%);

  --key-shadow-custom: hsl(290, 70%, 36%);
  --key-light-shadow-custom: hsl(285, 91%, 52%);
  --key-dark-shadow-custom: hsl(177, 92%, 70%);

  --color-custom: hsl(52, 100%, 62%);
  --key-color-custom: hsl(52, 100%, 62%);
  --key-light-color-custom: hsl(0, 0%, 100%);
  --key-dark-color-custom: hsl(198, 20%, 13%);
  --toggle-color-custom: hsl(176, 100%, 44%);

  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
